*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.med {
    padding: 5px 0;
    background-color: white;
}
.med ul li {
    display: inline-block;
    color: black;
    margin-right: 10px;
}
.container {
    width:  80%;
    margin: 0px auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
    color: black;
}
header{
    background-color: black;
}
header h1 {
    
    float : left;
    padding: 15px 0;
    color: white;
}
header ul {
    
    float: right;
}
header ul li {
    display: inline-block;
    color: white;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: white;
    color: black;
}
.active {
    background-color: white;
    color: black;  
}
.back {
    height: 60vh;
    border: 1px solid;
    background-image: url('../img/rade.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;

}
.back h2 {
    color: white;
    z-index: 1;
    font-size: 24pt;
    padding: 20px 35px;
    border: 3px solid #fff;
}
section{
    padding:50px 0;

}
section h3 {
    text-align: center;
    padding: 25px 0;
    color: black;
}
.about p {
    color: rgb(48, 47, 47);
    word-spacing: 2px;
    line-height: 20px;
    text-align: center;
}
.service {
    background-color: rgb(248, 248, 248);
}
.box:after{
    content: '';
    display: block;
    clear: both;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    color : black;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin:0 auto;
}

.box .col-4 h4 {
    padding: 5px 0;
    margin: 10px 0;
   
}
footer {
    padding: 30px 0;
    background-color: black;
    color: white;
    text-align: center;
}
.bg-loader {
    background-color: #eee;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-loader .loader{
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    animation: muter .5s linear infinite;
}
@keyframes muter {
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 768px){
    .container{
        width: 90%;
    }
    header h1 {
        text-align: center;
        float: none;
    }
    header ul {
        text-align: center;
        float: none;
    }
    .box .col-4 {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}